<a href="https://colab.research.google.com/github/Daniel-ASG/Aulas_de_cursos/blob/main/EDA_Gorjetas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Importando base de dados**

In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv('https://s3.amazonaws.com/caelum-online-public/1039-seaborn/material/tips.csv')
dados.sample(3)

     total_bill   tip dessert  day    time  size
66        16.45  2.47      No  Sat  Dinner     2
150       14.07  2.50      No  Sun  Dinner     2
6          8.77  2.00      No  Sun  Dinner     2

# **Tradução**

In [3]:
dados.columns

Index(['total_bill', 'tip', 'dessert', 'day', 'time', 'size'], dtype='object')

In [4]:
renomear = {'total_bill': 'Valor_da_conta', 
            'tip': 'Gorjeta', 
            'dessert': 'Sobremesa', 
            'day': 'Dia_da_semana', 
            'time': 'Hora_do_dia', 
            'size': 'Total_de_pessoas'}

In [5]:
gorjetas = dados.rename(columns=renomear)

In [6]:
gorjetas.sample(3)

     Valor_da_conta  Gorjeta  ... Hora_do_dia Total_de_pessoas
199           13.51      2.0  ...       Lunch                2
123           15.95      2.0  ...       Lunch                2
26            13.37      2.0  ...      Dinner                2

[3 rows x 6 columns]

In [7]:
gorjetas.Sobremesa.unique()

array(['No', 'Yes'], dtype=object)

In [8]:
sim_não = {'No': 'Não',
          'Yes': 'Sim'}

In [9]:
gorjetas.Sobremesa.map(sim_não)

0      Não
1      Não
2      Não
3      Não
4      Não
      ...
239    Não
240    Sim
241    Sim
242    Não
243    Não
Name: Sobremesa, Length: 244, dtype: object

In [10]:
gorjetas.Sobremesa = gorjetas.Sobremesa.map(sim_não)
gorjetas.head(1)

   Valor_da_conta  Gorjeta  ... Hora_do_dia Total_de_pessoas
0           16.99     1.01  ...      Dinner                2

[1 rows x 6 columns]

In [11]:
gorjetas.Dia_da_semana.unique()

array(['Sun', 'Sat', 'Thur', 'Fri'], dtype=object)

In [12]:
dias = {'Sun': 'Domingo', 
        'Sat': 'Sábado', 
        'Thur': 'Quinta', 
        'Fri': 'Sexta'}

In [13]:
gorjetas.Dia_da_semana = gorjetas.Dia_da_semana.map(dias)
gorjetas.head(1)

   Valor_da_conta  Gorjeta  ... Hora_do_dia Total_de_pessoas
0           16.99     1.01  ...      Dinner                2

[1 rows x 6 columns]

In [14]:
gorjetas.Hora_do_dia.unique()

array(['Dinner', 'Lunch'], dtype=object)

In [15]:
hora = {'Dinner': 'Jantar', 
        'Lunch': 'Almoço'}

In [16]:
gorjetas.Hora_do_dia = gorjetas.Hora_do_dia.map(hora)
gorjetas.head(1)

   Valor_da_conta  Gorjeta  ... Hora_do_dia Total_de_pessoas
0           16.99     1.01  ...      Jantar                2

[1 rows x 6 columns]