<a href="https://colab.research.google.com/github/Daniel-ASG/Aulas_de_cursos/blob/main/EDA_Gorjetas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importando base de dados

In [1]:
import pandas as pd

In [5]:
dados = pd.read_csv('https://s3.amazonaws.com/caelum-online-public/1039-seaborn/material/tips.csv')
dados.sample(3)

     total_bill   tip dessert   day    time  size
127       14.52  2.00      No  Thur   Lunch     2
74        14.73  2.20      No   Sat  Dinner     2
54        25.56  4.34      No   Sun  Dinner     4