<a href="https://colab.research.google.com/github/Daniel-ASG/Aulas_de_cursos/blob/main/Machine_Learning_Classifica%C3%A7%C3%A3o_por_tr%C3%A1s_dos_panos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Aula 1

## Classificação de animais

In [1]:
porco1 =    [1, 1, 0]
porco2 =    [1, 1, 0]
porco3 =    [1, 1, 0]
cachorro4 = [1, 1, 1]
cachorro5 = [0, 1, 1]
cachorro6 = [0, 1, 1]

dados = [porco1, porco2, porco3, cachorro4, cachorro5, cachorro6]

marcacoes = [1, 1, 1, -1, -1, -1]

misterioso1 = [1, 1, 1]
misterioso2 = [1, 0, 0]
teste = [misterioso1, misterioso2]

In [2]:
from sklearn.naive_bayes import MultinomialNB

In [3]:
modelo = MultinomialNB()
modelo.fit(dados, marcacoes)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [4]:
print(modelo.predict(teste))

[-1  1]

Vamos testar o quanto os resultados estão adequados ou não

In [5]:
# [é gordinho?, tem perninha curta?, faz auau?]
misterioso1 = [1, 1, 1]
misterioso2 = [1, 0, 0]
misterioso3 = [0, 0, 1]

teste = [misterioso1, misterioso2, misterioso3]
marcacoes_teste = [-1, 1, -1]

resultado = modelo.predict(teste)
print(resultado)

[-1  1 -1]

In [6]:
diferencas = resultado - marcacoes_teste
print(diferencas)

[0 0 0]

In [7]:
acertos = [d for d in diferencas if d==0]
total_de_acertos = len(acertos)
total_de_elementos = len(teste)
taxa_de_acertos = total_de_acertos / total_de_elementos * 100
print(f'{taxa_de_acertos} %')

100.0 %

In [8]:
misterioso1 = [1, 1, 1]
misterioso2 = [1, 0, 0]
misterioso3 = [1, 0, 1] # alteramos aqui
teste = [misterioso1, misterioso2, misterioso3]
marcacoes_teste = [-1, 1, 1] # alteramos aqui

resultado = modelo.predict(teste)
diferencas = resultado - marcacoes_teste
print(diferencas)
acertos = [d for d in diferencas if d==0]
total_de_acertos = len(acertos)
total_de_elementos = len(teste)
taxa_de_acertos = total_de_acertos / total_de_elementos * 100
print(f'{taxa_de_acertos:.1f} %')

[ 0  0 -2]
66.7 %

## Classificação na Web

In [9]:
import pandas as pd

In [10]:
dados = pd.read_csv('https://raw.githubusercontent.com/alura-cursos/machine-learning-introducao-a-classificacao/master/acesso.csv')
X = dados.drop('comprou', axis=1)
Y = dados.comprou
display(dados)
display(X)
display(Y)

    home  como_funciona  contato  comprou
0      1              1        0        0
1      1              1        0        0
2      1              1        0        0
3      1              1        0        0
4      1              1        0        0
..   ...            ...      ...      ...
94     0              0        1        0
95     1              1        1        1
96     0              0        1        0
97     0              1        0        0
98     0              0        0        0

[99 rows x 4 columns]

    home  como_funciona  contato
0      1              1        0
1      1              1        0
2      1              1        0
3      1              1        0
4      1              1        0
..   ...            ...      ...
94     0              0        1
95     1              1        1
96     0              0        1
97     0              1        0
98     0              0        0

[99 rows x 3 columns]

0     0
1     0
2     0
3     0
4     0
     ..
94    0
95    1
96    0
97    0
98    0
Name: comprou, Length: 99, dtype: int64

In [11]:
from sklearn.naive_bayes import MultinomialNB

In [12]:
modelo = MultinomialNB()
modelo.fit(X, Y)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [13]:
print(modelo.predict([[1,0,1], [0,1,0], [1,0,0], [1,1,0], [1,1,1]]))

[1 0 0 0 0]

In [14]:
resultado = modelo.predict(X)
diferencas = resultado - Y

acertos = [d for d in diferencas if d==0]
total_de_acertos = len(acertos)
total_de_elementos = len(X)
taxa_de_acertos = total_de_acertos / total_de_elementos * 100

print(f'{taxa_de_acertos:.2f}% de acertos')
print(f'{total_de_elementos} elementos')

93.94% de acertos
99 elementos

O resultado deu muito alto porque os dados que usamos para testar são os mesmos que usamos para treinar o algoritmo.

Para evitar isso teremos que dividir os dados em dois, de forma que o que for usado para treinar o modelo seja diferente dos dados que serão usados para testá-lo.

In [15]:
treino_dados = X[:90]
treino_marcacoes = Y[:90]

teste_dados = X[-9:]
teste_marcacoes = Y[-9:]

from sklearn.naive_bayes import MultinomialNB
modelo = MultinomialNB()
modelo.fit(treino_dados, treino_marcacoes)

resultado = modelo.predict(teste_dados)
diferencas = resultado - teste_marcacoes

acertos = [d for d in diferencas if d==0]
total_de_acertos = len(acertos)
total_de_elementos = len(teste_dados)
taxa_de_acertos = total_de_acertos / total_de_elementos * 100

print(f'{taxa_de_acertos:.2f}% de acertos')
print(f'{total_de_elementos} elementos')

88.89% de acertos
9 elementos

Resultado bem mais realista, pois o modelo treinou com um conjunto e foi testado com outros elementos, dessa vez desconhecidos previamente.

## Classificação de variáveis categóricas

In [16]:
import pandas as pd

In [17]:
dados = pd.read_csv('https://raw.githubusercontent.com/alura-cursos/machine-learning-introducao-a-classificacao/master/busca.csv')
dados.comprou.replace({'sim': 1, 'nao': 0}, inplace=True)
X_df = dados.drop('comprou', axis=1)
Y_df = dados['comprou']
display(dados)
display(X_df)
display(Y_df)

     home       busca  logado  comprou
0       0  algoritmos       1        1
1       0        java       0        1
2       1  algoritmos       0        1
3       1        ruby       1        0
4       1        ruby       0        1
..    ...         ...     ...      ...
995     0        ruby       0        0
996     0        ruby       0        1
997     0        java       1        1
998     1  algoritmos       0        1
999     0        ruby       1        0

[1000 rows x 4 columns]

     home       busca  logado
0       0  algoritmos       1
1       0        java       0
2       1  algoritmos       0
3       1        ruby       1
4       1        ruby       0
..    ...         ...     ...
995     0        ruby       0
996     0        ruby       0
997     0        java       1
998     1  algoritmos       0
999     0        ruby       1

[1000 rows x 3 columns]

0      1
1      1
2      1
3      0
4      1
      ..
995    0
996    1
997    1
998    1
999    0
Name: comprou, Length: 1000, dtype: int64

A coluna `'busca'` contém 3 valores categóricos, que os modelos não conseguem processar. Para contornar esse problema nós usamos o pd.get_dummies() para transformar esta coluna em tantas outras colunas quanto os valores únicos na coluna original.

Para o nosso caso, `'busca'` irá se tornar em 3 novas colunas, `'busca_algoritmos'`,	`'busca_java'`, `'busca_ruby'`.

In [18]:
Xdummies_df = pd.get_dummies(X_df)
Ydummies_df = Y_df

In [20]:
Ydummies_df

0      1
1      1
2      1
3      0
4      1
      ..
995    0
996    1
997    1
998    1
999    0
Name: comprou, Length: 1000, dtype: int64

In [26]:
X = Xdummies_df.values
Y = Ydummies_df.values

Vamos separar os dados de treino e de teste

In [27]:
porcentagem_treino = 0.9

tamanho_de_treino = int(porcentagem_treino * len(Y))
tamanho_de_teste = len(Y) - tamanho_de_treino

# dados para usar no treinamento do modelo
treino_dados = X[:tamanho_de_treino]
treino_marcacoes = Y[:tamanho_de_treino]

teste_dados = X[-tamanho_de_teste:]
teste_marcacoes = Y[-tamanho_de_teste:]

In [28]:
from sklearn.naive_bayes import MultinomialNB
modelo = MultinomialNB()
modelo.fit(treino_dados, treino_marcacoes)

resultado = modelo.predict(teste_dados)
diferencas = resultado - teste_marcacoes

acertos = [d for d in diferencas if d==0]
total_de_acertos = len(acertos)
total_de_elementos = len(teste_dados)
taxa_de_acertos = total_de_acertos / total_de_elementos * 100

print(f'{taxa_de_acertos:.2f}% de acertos')
print(f'{total_de_elementos} elementos')

82.00% de acertos
100 elementos

## O problema do sucesso e o algoritmo burro

Se o classificador decidir escolher tudo um, qual seria a performance?

In [22]:
sum(Y)

832

In [23]:
len(Y)

1000

In [25]:
print(f'{sum(Y)/len(Y)*100}% de acertos')

83.2% de acertos

Ou seja, um algoritmo que escolhe "burramente" que o resultado vai ser sempre 1 consegue um resultado melhor que o classificador criado anteriormente.

In [31]:
# a eficácia do algoritmo que chuta tudo 0 ou 1
acerto_de_um = len(Y[Y==1])
acerto_de_zero = len(Y[Y==0])
taxa_de_acerto_base = 100.0 * max(acerto_de_um, acerto_de_zero) / len(Y)
print(f"Taxa de acerto base: {taxa_de_acerto_base}%")
print(f"Taxa de acerto do algoritmo: {taxa_de_acertos}%")

Taxa de acerto base: 83.2%
Taxa de acerto do algoritmo: 82.0%

Vamos generalizar o algoritmo para o caso que a coluna Y seja do tipo `1/0`, `sim/não`, `yes/no,` etc.

In [32]:
df = pd.read_csv('https://raw.githubusercontent.com/alura-cursos/machine-learning-introducao-a-classificacao/master/busca.csv')
df.head()

   home       busca  logado comprou
0     0  algoritmos       1     sim
1     0        java       0     sim
2     1  algoritmos       0     sim
3     1        ruby       1     nao
4     1        ruby       0     sim

In [34]:
X_df = df[['home', 'busca', 'logado']]
Y_df = df['comprou']

Xdummies_df = pd.get_dummies(X_df)
Ydummies_df = Y_df

X = Xdummies_df.values
Y = Ydummies_df.values

In [35]:
from collections import Counter

In [36]:
Counter(Y)

Counter({'nao': 168, 'sim': 832})

In [46]:
acerto_base = max(Counter(Y).values())
taxa_de_acerto_base = 100.0 * acerto_base / len(Y)
print(f"Taxa de acerto base: {taxa_de_acerto_base}%")

porcentagem_treino = 0.9

tamanho_de_treino = int(porcentagem_treino * len(Y))
tamanho_de_teste = len(Y) - tamanho_de_treino

treino_dados = X[:tamanho_de_treino]
treino_marcacoes = Y[:tamanho_de_treino]

teste_dados = X[-tamanho_de_teste:]
teste_marcacoes = Y[-tamanho_de_teste:]

from sklearn.naive_bayes import MultinomialNB
modelo = MultinomialNB()
modelo.fit(treino_dados, treino_marcacoes)

resultado = modelo.predict(teste_dados)

acertos = resultado == teste_marcacoes

total_de_acertos = sum(acertos)
total_de_elementos = len(teste_dados)

taxa_de_acerto = 100.0 * total_de_acertos / total_de_elementos

print(f"Taxa de acerto do algoritmo: {taxa_de_acerto}%")
print(total_de_elementos)

Taxa de acerto base: 83.2%
Taxa de acerto do algoritmo: 82.0%
100

Agora, vamos deixar os dois algoritmos com os mesmos dados para deixar a comparação mais justa, já que no algoritmo que implentamos usamos 90% dos dados e no algoritmo base usamos 100% dos dados.

In [50]:
from sklearn.naive_bayes import MultinomialNB
modelo = MultinomialNB()
modelo.fit(treino_dados, treino_marcacoes)

resultado = modelo.predict(teste_dados)

acertos = resultado == teste_marcacoes

total_de_acertos = sum(acertos)
total_de_elementos = len(teste_dados)

acerto_base = max(Counter(Y).values())
taxa_de_acerto_base = 100.0 * acerto_base / len(Y)

print(f"Taxa de acerto do algoritmo: {taxa_de_acerto}%")

acerto_base = max(Counter(teste_marcacoes).values())
taxa_de_acerto_base = 100.0 * acerto_base / len(teste_marcacoes)
print(f"Taxa de acerto base: {taxa_de_acerto_base}%")

Taxa de acerto do algoritmo: 82.0%
Taxa de acerto base: 82.0%

Obtemos o mesmo resultado para os dois casos, ou seja, o nosso modelo se iguala a um algoritmo ruim que chuta o memso valor para todas as situações.

## Testando diferentes modelos e validando o vencedor