<a href="https://colab.research.google.com/github/Daniel-ASG/Aulas_de_cursos/blob/main/Machine_Learning_Classifica%C3%A7%C3%A3o_por_tr%C3%A1s_dos_panos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Aula 1

## Classificação de animais

In [1]:
porco1 =    [1, 1, 0]
porco2 =    [1, 1, 0]
porco3 =    [1, 1, 0]
cachorro4 = [1, 1, 1]
cachorro5 = [0, 1, 1]
cachorro6 = [0, 1, 1]

dados = [porco1, porco2, porco3, cachorro4, cachorro5, cachorro6]

marcacoes = [1, 1, 1, -1, -1, -1]

misterioso1 = [1, 1, 1]
misterioso2 = [1, 0, 0]
teste = [misterioso1, misterioso2]

In [2]:
from sklearn.naive_bayes import MultinomialNB

In [3]:
modelo = MultinomialNB()
modelo.fit(dados, marcacoes)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [4]:
print(modelo.predict(teste))

[-1  1]

Vamos testar o quanto os resultados estão adequados ou não

In [19]:
# [é gordinho?, tem perninha curta?, faz auau?]
misterioso1 = [1, 1, 1]
misterioso2 = [1, 0, 0]
misterioso3 = [0, 0, 1]

teste = [misterioso1, misterioso2, misterioso3]
marcacoes_teste = [-1, 1, -1]

resultado = modelo.predict(teste)
print(resultado)

[-1  1 -1]

In [20]:
diferencas = resultado - marcacoes_teste
print(diferencas)

[0 0 0]

In [21]:
acertos = [d for d in diferencas if d==0]
total_de_acertos = len(acertos)
total_de_elementos = len(teste)
taxa_de_acertos = total_de_acertos / total_de_elementos * 100
print(f'{taxa_de_acertos} %')

100.0 %

In [24]:
misterioso1 = [1, 1, 1]
misterioso2 = [1, 0, 0]
misterioso3 = [1, 0, 1] # alteramos aqui
teste = [misterioso1, misterioso2, misterioso3]
marcacoes_teste = [-1, 1, 1] # alteramos aqui

resultado = modelo.predict(teste)
diferencas = resultado - marcacoes_teste
print(diferencas)
acertos = [d for d in diferencas if d==0]
total_de_acertos = len(acertos)
total_de_elementos = len(teste)
taxa_de_acertos = total_de_acertos / total_de_elementos * 100
print(f'{taxa_de_acertos:.1f} %')

[ 0  0 -2]
66.7 %

## Classificação na Web

In [25]:
import pandas as pd

In [47]:
dados = pd.read_csv('https://raw.githubusercontent.com/alura-cursos/machine-learning-introducao-a-classificacao/master/acesso.csv')
X = dados.drop('comprou', axis=1)
Y = dados.comprou
display(dados)
display(X)
display(Y)

    home  como_funciona  contato  comprou
0      1              1        0        0
1      1              1        0        0
2      1              1        0        0
3      1              1        0        0
4      1              1        0        0
..   ...            ...      ...      ...
94     0              0        1        0
95     1              1        1        1
96     0              0        1        0
97     0              1        0        0
98     0              0        0        0

[99 rows x 4 columns]

    home  como_funciona  contato
0      1              1        0
1      1              1        0
2      1              1        0
3      1              1        0
4      1              1        0
..   ...            ...      ...
94     0              0        1
95     1              1        1
96     0              0        1
97     0              1        0
98     0              0        0

[99 rows x 3 columns]

0     0
1     0
2     0
3     0
4     0
     ..
94    0
95    1
96    0
97    0
98    0
Name: comprou, Length: 99, dtype: int64

In [30]:
from sklearn.naive_bayes import MultinomialNB

In [31]:
modelo = MultinomialNB()
modelo.fit(X, Y)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [35]:
print(modelo.predict([[1,0,1], [0,1,0], [1,0,0], [1,1,0], [1,1,1]]))

[1 0 0 0 0]

In [48]:
resultado = modelo.predict(X)
diferencas = resultado - Y

acertos = [d for d in diferencas if d==0]
total_de_acertos = len(acertos)
total_de_elementos = len(X)
taxa_de_acertos = total_de_acertos / total_de_elementos * 100

print(f'{taxa_de_acertos:.2f}% de acertos')
print(f'{total_de_elementos} elementos')

93.94% de acertos
99 elementos

O resultado deu muito alto porque os dados que usamos para testar são os mesmos que usamos para treinar o algoritmo.

Para evitar isso teremos que dividir os dados em dois, de forma que o que for usado para treinar o modelo seja diferente dos dados que serão usados para testá-lo.

In [49]:
treino_dados = X[:90]
treino_marcacoes = Y[:90]

teste_dados = X[-9:]
teste_marcacoes = Y[-9:]

from sklearn.naive_bayes import MultinomialNB
modelo = MultinomialNB()
modelo.fit(treino_dados, treino_marcacoes)

resultado = modelo.predict(teste_dados)
diferencas = resultado - teste_marcacoes

acertos = [d for d in diferencas if d==0]
total_de_acertos = len(acertos)
total_de_elementos = len(teste_dados)
taxa_de_acertos = total_de_acertos / total_de_elementos * 100

print(f'{taxa_de_acertos:.2f}% de acertos')
print(f'{total_de_elementos} elementos')

88.89% de acertos
9 elementos

Resultado bem mais realista, pois o modelo treinou com um conjunto e foi testado com outros elementos, dessa vez desconhecidos previamente.

## Classificação de variáveis categóricas